# Homework 4: Data Transformation with dplyr - Part 2 (Mutate, Summarize, Group_by, Count)

Welcome to Homework 4! This assignment builds on your foundational dplyr skills by introducing advanced data transformation techniques essential for business analytics.

## Learning Objectives

By completing this homework, you will:
- **Master mutate()**: Create new variables and calculated fields for business insights
- **Apply summarize()**: Generate aggregate statistics and key performance indicators (KPIs)
- **Utilize group_by()**: Perform grouped analysis across business dimensions
- **Implement count()**: Conduct frequency analysis and cross-tabulations
- **Develop business intelligence**: Combine functions to create comprehensive analytics

## Business Context

You'll be working with real company sales data to perform the type of analysis that drives business decisions. This includes:
- **Financial Analysis**: Calculate profit margins, ROI, and efficiency metrics
- **Performance Segmentation**: Categorize transactions and customers by performance
- **Regional Analysis**: Compare performance across geographic regions
- **Product Analysis**: Evaluate product category performance

## Dataset Information

You'll be working with `company_sales_data.csv` which contains:
- **Sales transactions** with revenue, cost, and unit data
- **Geographic information** with regional breakdowns
- **Product categories** for portfolio analysis
- **Customer metrics** for segmentation analysis

## Instructions

Complete each section by writing R code in the designated areas. Focus on creating clean, well-commented code that demonstrates your understanding of both the technical concepts and business applications.

**Remember**: In real business analytics, you're not just manipulating data - you're uncovering insights that drive strategic decisions!

## Part 1: Setup and Data Import

**Task**: Load the necessary packages and import your dataset.

**Business Context**: Every analysis begins with proper data setup. In professional environments, data scientists spend significant time ensuring data is properly loaded and validated before analysis begins.

**What you need to do**:
1. Load the `tidyverse` package (which includes dplyr)
2. Import the `company_sales_data.csv` file 
3. Examine the structure and basic properties of your data

**Hint**: Use `read_csv()` to import the data, then examine it with `nrow()`, `ncol()`, `names()`, and `head()` to understand what you're working with.

In [2]:
# Load required packages
# TODO: Load tidyverse
library(tidyverse)

# Import the company sales data
# TODO: Read the company_sales_data.csv file into a variable called company_data
company_sales_data <- read.csv("/workspaces/Michel-s-Work/data/company_sales_data.csv")

# Examine the dataset
# TODO: Use nrow() and ncol() to check the number of rows and columns
nrow(company_sales_data) 
ncol(company_sales_data)

# TODO: Use names() to see all column names
names(company_sales_data)

# TODO: Use head() to display the first 6 rows
head(company_sales_data, 6)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.1     ✔ tibble    3.3.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.2
✔ purrr     1.2.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] 300

[1] 8

[1] "TransactionID"    "Sales_Rep_Name"   "Region"           "Product_Category"
[5] "Revenue"          "Cost"             "Units_Sold"       "Sale_Date"

  TransactionID Sales_Rep_Name Region        Product_Category Revenue  Cost
1 1             Carol Davis    Latin America Services         20750.92 12253.36
2 2             Carol Davis    Europe        Hardware         32359.98 24595.20
3 3             Carol Davis    Europe        Services         39268.40 23291.09
4 4             Bob Smith      Europe        Hardware         28865.09 12428.74
5 5             Frank Miller   Latin America Software          3932.36  1778.18
6 6             Carol Davis    Latin America Services         48209.75 26052.04
  Units_Sold Sale_Date
1 78         2023-04-24
2 13         2023-06-09
3 34         2023-03-25
4 90         2023-04-11
5 63         2023-08-26
6 26         2023-09-04

## Part 2: Creating New Variables with mutate()

**Task**: Use `mutate()` to create new calculated fields for business analysis.

**Business Context**: Raw data rarely tells the complete story. Business analysts must create derived metrics like profit margins, efficiency ratios, and performance categories to generate actionable insights.

**Variables to create**:
1. **Profit**: Revenue minus Cost
2. **Profit_Margin**: (Profit / Revenue) × 100
3. **Cost_Ratio**: (Cost / Revenue) × 100  
4. **Revenue_Per_Unit**: Revenue divided by Units_Sold
5. **Cost_Per_Unit**: Cost divided by Units_Sold
6. **ROI**: (Profit / Cost) × 100

**Hint**: Use the pipe operator (`%>%`) to chain multiple mutate operations together. Remember to create meaningful variable names that clearly indicate what each metric represents.

In [3]:
# Create basic financial metrics using mutate()

company_sales_data <-company_sales_data %>%
  mutate(
    # Create Profit
    Profit = Revenue - Cost,
    
    # Create Profit Margin (%)
    Profit_Margin = (Profit / Revenue) * 100,
    
    # Create Cost Ratio (%)
    Cost_Ratio = (Cost / Revenue) * 100,
    
    # Revenue per Unit
    Revenue_Per_Unit = Revenue / Units_Sold,
    
    # Cost per Unit
    Cost_Per_Unit = Cost / Units_Sold,
    
    # Return on Investment (%)
    ROI = (Profit / Cost) * 100
  )

# Display selected financial metrics
company_sales_data %>%
  select(Revenue, Cost, Profit, Profit_Margin, ROI)

    Revenue  Cost     Profit   Profit_Margin ROI
1   20750.92 12253.36  8497.56 40.95028       69.34882
2   32359.98 24595.20  7764.78 23.99501       31.57031
3   39268.40 23291.09 15977.31 40.68745       68.59838
4   28865.09 12428.74 16436.35 56.94197      132.24470
5    3932.36  1778.18  2154.18 54.78084      121.14522
6   48209.75 26052.04 22157.71 45.96106       85.05173
7   33055.35 20432.24 12623.11 38.18780       61.78035
8   49856.54 37118.63 12737.91 25.54913       34.31676
9   13477.13  8685.85  4791.28 35.55119       55.16190
10  21188.96 16757.06  4431.90 20.91608       26.44796
11  24474.26  7469.31 17004.95 69.48096      227.66427
12  48997.22 26134.68 22862.54 46.66089       87.47970
13   8079.98  3889.00  4190.98 51.86869      107.76498
14  15606.39  6063.92  9542.47 61.14463      157.36471
15  30287.40 12633.44 17653.96 58.28813      139.73993
16  37277.72 15418.04 21859.68 58.64007      141.77989
17  38674.17 27501.44 11172.73 28.88939       40.62598
18  44751.74 26480.82 18270.92 40.82728       68.99681
19  38301.63 19173.66 19127.97 49.94036       99.76170
20   2365.46  1323.14  1042.32 44.06416       78.77624
21   8713.33  6309.40  2403.93 27.58911       38.10077
22  35684.60 20041.90 15642.70 43.83600       78.04999
23  48747.95 17027.61 31720.34 65.07010      186.28768
24   5931.50  3693.96  2237.54 37.72300       60.57294
25   5568.06  3489.03  2079.03 37.33850       59.58762
26  47637.19 29136.66 18500.53 38.83632       63.49571
27  41576.83 31637.33  9939.50 23.90634       31.41700
28   5195.86  2110.14  3085.72 59.38805      146.23295
29  32028.51 25582.75  6445.76 20.12507       25.19573
30   9565.87  3196.97  6368.90 66.57941      199.21676
⋮   ⋮        ⋮        ⋮        ⋮             ⋮
271  3866.48  1261.04  2605.44 67.38532      206.61042
272  6905.83  4946.42  1959.41 28.37327       39.61269
273  4499.16  2272.93  2226.23 49.48101       97.94538
274 38796.98 23401.67 15395.31 39.68172       65.78723
275 25330.20 10895.38 14434.82 56.98660      132.48570
276  1914.47  1151.36   763.11 39.86012       66.27901
277 40402.43 15868.36 24534.07 60.72424      154.60999
278 24180.51 17008.63  7171.88 29.65975       42.16612
279 32310.35 19328.67 12981.68 40.17809       67.16282
280 11805.27  7370.27  4435.00 37.56797       60.17419
281 22151.01  9576.69 12574.32 56.76635      131.30132
282 18267.85  7013.20 11254.65 61.60906      160.47810
283 15037.78  4788.78 10249.00 68.15501      214.02111
284 49866.51 19117.23 30749.28 61.66319      160.84590
285 20052.34  9685.11 10367.23 51.70085      107.04298
286 17754.91 13390.34  4364.57 24.58233       32.59492
287 31099.55 21502.81  9596.74 30.85813       44.63017
288 15760.95  6493.53  9267.42 58.79988      142.71775
289  3393.75  1052.97  2340.78 68.97326      222.30263
290 11034.63  4603.89  6430.74 58.27780      139.68057
291 27275.19 20480.76  6794.43 24.91066       33.17470
292 23689.77 10952.35 12737.42 53.76760      116.29851
293 26535.57 15430.29 11105.28 41.85054       71.97065
294 34806.29 18741.34 16064.95 46.15531       85.71932
295  2867.68  1632.15  1235.53 43.08465       75.69954
296 38026.53 28410.28  9616.25 25.28827       33.84778
297 10029.25  4614.59  5414.66 53.98868      117.33783
298 37911.51 21905.14 16006.37 42.22034       73.07130
299  2137.30  1156.84   980.46 45.87377       84.75329
300 34730.09 21474.69 13255.40 38.16690       61.72569

## Part 3: Creating Categorical Variables

**Task**: Create categorical variables for business segmentation using conditional logic.

**Business Context**: Segmentation is crucial for targeted business strategies. By categorizing transactions and customers, businesses can tailor their approaches to different performance levels and customer types.

**Categories to create**:
1. **Performance_Category**: Based on Profit_Margin (High: >50%, Medium: 30-50%, Low: <30%)
2. **Revenue_Size**: Based on Revenue (Large: >30000, Medium: 15000-30000, Small: <15000)
3. **Deal_Size**: Based on Units_Sold (Bulk: >50, Standard: 20-50, Small: <20)
4. **High_Value_Customer**: Flag for Revenue > 25000
5. **Profitable_Deal**: Flag for Profit_Margin > 40%

**Hint**: Use `case_when()` for multiple conditions or `if_else()` for simple binary classifications.

In [4]:
# Create categorical variables for business segmentation
company_sales_data <-company_sales_data %>%
  mutate(
    # TODO: Create Performance_Category using case_when()
    # High: Profit_Margin > 50, Medium: Profit_Margin > 30, Low: everything else
    Performance_Category = case_when(
      Profit_Margin > 50 ~ "High",
      Profit_Margin > 30 ~ "Medium",
      TRUE ~ "Low"
    ),
    # TODO: Create Revenue_Size category
    # Large: Revenue > 30000, Medium: Revenue > 15000, Small: everything else
    Revenue_Size = case_when(
      Revenue > 30000 ~ "Large",
      Revenue > 15000 ~ "Medium",
      TRUE ~ "Small"
    ),
    # TODO: Create Deal_Size category  
    # Bulk: Units_Sold > 50, Standard: Units_Sold > 20, Small: everything else
    Deal_Size = case_when(
      Units_Sold > 50 ~ "Bulk",
      Units_Sold > 20 ~ "Standard",
      TRUE ~ "Small"
    ),
    # TODO: Create High_Value_Customer flag ("Yes"/"No" for Revenue > 25000)
    # Hint: use if_else(Revenue > 25000, "Yes", "No")
    High_Value_Customer = if_else(Revenue > 25000, "Yes", "No"
    ), 
    # TODO: Create Profitable_Deal flag ("Yes"/"No" for Profit_Margin > 40)
    # Hint: use if_else(Profit_Margin > 40, "Yes", "No")
    Profitable_Deal = if_else(Profit_Margin > 40, "Yes", "No")
  )
# Examine the distribution of categorical variables using count()
# TODO: Use count() to show the distribution of Performance_Category
company_sales_data %>% count(Performance_Category)

# TODO: Use count() to show the distribution of Revenue_Size
company_sales_data %>% count(Revenue_Size)

# TODO: Use count() to show the distribution of High_Value_Customer
company_sales_data %>% count(High_Value_Customer)

  Performance_Category n
1 High                 113
2 Low                   66
3 Medium               121

  Revenue_Size n
1 Large        122
2 Medium       104
3 Small         74

  High_Value_Customer n
1 No                  146
2 Yes                 154

## Part 4: Summary Statistics with summarize()

**Task**: Use `summarize()` to calculate key business metrics and overall performance indicators.

**Business Context**: Executive dashboards and business reports rely on aggregate statistics to provide high-level insights. These summary metrics help stakeholders quickly understand overall business performance.

**Metrics to calculate**:
1. **Total Revenue** and **Total Profit**
2. **Average Profit Margin** and **Average ROI**
3. **Total Units Sold** and **Total Transactions**
4. **Revenue Statistics**: Min, Max, Mean, Median, Standard Deviation
5. **Profit Margin Statistics**: Quartiles and distribution metrics

**Hint**: You can calculate multiple summary statistics in a single `summarize()` call. Use functions like `sum()`, `mean()`, `median()`, `min()`, `max()`, `sd()`, and `n()`.

In [5]:

# Calculate overall business summary statistics
  business_summary <- company_sales_data %>%
  summarize(
    # TODO: Calculate total_revenue (sum of Revenue)
  total_revenue = sum(Revenue, na.rm = TRUE),
    # TODO: Calculate total_profit (sum of Profit)
  total_profit = sum(Profit, na.rm = TRUE),
    # TODO: Calculate avg_profit_margin (mean of Profit_Margin) 
  avg_profit_margin = mean(Profit_Margin, na.rm = TRUE),  
    # TODO: Calculate avg_roi (mean of ROI)
  avg_roi = mean(ROI, na.rm = TRUE),  
    # TODO: Calculate total_units (sum of Units_Sold)
  total_units = sum(Units_Sold, na.rm = TRUE),  
    # TODO: Calculate transaction_count (use n())
  transaction_count = n(),  
    # TODO: Calculate avg_revenue_per_transaction (mean of Revenue)
  avg_revenue_per_transaction = mean(Revenue, na.rm = TRUE)  
  )
# Display the business summary
print("Overall Business Performance Summary:")
print(business_summary)

# Calculate detailed revenue statistics
revenue_statistics <- company_sales_data %>%
  summarize(
    # TODO: Calculate revenue statistics: min, max, mean, median, sd
    min_revenue    = min(Revenue, na.rm = TRUE),
    max_revenue    = max(Revenue, na.rm = TRUE),
    mean_revenue   = mean(Revenue, na.rm = TRUE),
    median_revenue = median(Revenue, na.rm = TRUE),
    sd_revenue     = sd(Revenue, na.rm = TRUE)
  )
  

print("Detailed Revenue Statistics:")
print(revenue_statistics)

[1] "Overall Business Performance Summary:"
  total_revenue total_profit avg_profit_margin avg_roi total_units
1       7771711      3407512          44.22305 93.4937       16169
  transaction_count avg_revenue_per_transaction
1               300                     25905.7
[1] "Detailed Revenue Statistics:"
  min_revenue max_revenue mean_revenue median_revenue sd_revenue
1     1031.64    49956.01      25905.7       26062.04   13943.72

## Part 5: Grouped Analysis with group_by()

**Task**: Use `group_by()` combined with `summarize()` to analyze performance across different business dimensions.

**Business Context**: Understanding how different segments perform is crucial for strategic decision-making. Regional analysis helps with resource allocation, and product analysis guides inventory decisions.

**Analyses to perform**:
1. **Regional Analysis**: Performance by Region
2. **Product Category Analysis**: Performance by Product_Category  
3. **Performance Category Analysis**: Compare High/Medium/Low performers

**Metrics for each group**:
- Total Revenue and Profit
- Average Profit Margin
- Transaction Count
- Total Units Sold
- Revenue Share (percentage of total)

**Hint**: Use `group_by()` followed by `summarize()`, add `.groups = 'drop'`, and use `arrange(desc())` to sort by key metrics. Add revenue share with `mutate(revenue_share = round((total_revenue / sum(total_revenue)) * 100, 1))`.

In [6]:
# Regional Analysis
regional_performance <- company_sales_data %>%
  group_by(Region) %>%
  summarize(
    # TODO: Calculate total_revenue, total_profit, avg_profit_margin, 
    # transaction_count, total_units for each region
    total_revenue     = sum(Revenue, na.rm = TRUE),
    total_profit      = sum(Profit, na.rm = TRUE),
    avg_profit_margin = mean(Profit_Margin, na.rm = TRUE),
    transaction_count = n(),
    total_units       = sum(Units_Sold, na.rm = TRUE),
    .groups = 'drop'  # Remove grouping
  ) %>%
  # TODO: Add revenue_share calculation (total_revenue / sum(total_revenue) * 100)
  mutate(
    revenue_share = round((total_revenue / sum(total_revenue)) * 100, 1)
  ) %>%
  # TODO: Arrange by total_revenue in descending order
  arrange(desc(total_revenue))

print("Regional Performance Analysis:")
print(regional_performance)

[1] "Regional Performance Analysis:"
# A tibble: 4 × 7
  Region        total_revenue total_profit avg_profit_margin transaction_count
  <chr>                 <dbl>        <dbl>             <dbl>             <int>
1 Europe             2224182.     1006807.              45.5                82
2 Latin America      2112037.      891481.              43.0                83
3 Asia Pacific       1804243.      827243.              46.0                67
4 North America      1631248.      681981.              42.4                68
# ℹ 2 more variables: total_units <int>, revenue_share <dbl>

In [7]:
# Product Category Analysis
category_performance <- company_sales_data %>%
  group_by(Product_Category) %>%  # TODO: Group by Product_Category
  summarize(
    # TODO: Calculate the same metrics as regional analysis
    total_revenue     = sum(Revenue, na.rm = TRUE),
    total_profit      = sum(Profit, na.rm = TRUE),
    avg_profit_margin = mean(Profit_Margin, na.rm = TRUE),
    transaction_count = n(),
    total_units       = sum(Units_Sold, na.rm = TRUE),
    .groups = 'drop'
  ) %>%
  # TODO: Add revenue_share and arrange by total_revenue
  mutate(
    revenue_share = round((total_revenue / sum(total_revenue)) * 100, 1)
  ) %>%
  arrange(total_revenue)

print("Product Category Performance Analysis:")
print(category_performance)

[1] "Product Category Performance Analysis:"
# A tibble: 4 × 7
  Product_Category total_revenue total_profit avg_profit_margin
  <chr>                    <dbl>        <dbl>             <dbl>
1 Software              1879981.      850092.              46.4
2 Hardware              1951325.      858246.              43.5
3 Services              1961565.      814908.              42.3
4 Consulting            1978840.      884265.              44.4
# ℹ 3 more variables: transaction_count <int>, total_units <int>,
#   revenue_share <dbl>

In [8]:
# Performance Category Analysis (High/Medium/Low performers)
performance_analysis <- company_sales_data %>%
  group_by(Performance_Category) %>%  # TODO: Group by Performance_Category
  summarize(
    # TODO: Calculate summary metrics for each performance level
    total_revenue     = sum(Revenue, na.rm = TRUE),
    total_profit      = sum(Profit, na.rm = TRUE),
    avg_profit_margin = mean(Profit_Margin, na.rm = TRUE),
    transaction_count = n(),
    total_units       = sum(Units_Sold, na.rm = TRUE),
    .groups = 'drop'
  ) %>%
  # TODO: Add revenue_share calculation
  mutate(
  revenue_share = round((total_revenue / sum(total_revenue)) * 100, 1)
  )

print("Performance Category Analysis:")
print(performance_analysis)

[1] "Performance Category Analysis:"
# A tibble: 3 × 7
  Performance_Category total_revenue total_profit avg_profit_margin
  <chr>                        <dbl>        <dbl>             <dbl>
1 High                      2771248.     1682947.              60.1
2 Low                       1813077.      457363.              25.3
3 Medium                    3187386.     1267202.              39.8
# ℹ 3 more variables: transaction_count <int>, total_units <int>,
#   revenue_share <dbl>

## Part 6: Frequency Counts and Cross-Tabulation

**Task**: Perform frequency counting and multi-dimensional analysis using `count()` and advanced grouping.

**Business Context**: Real business questions often require analysis across multiple dimensions simultaneously. For example, "Which product categories perform best in each region?" requires cross-tabulation analysis.

**Analyses to perform**:
1. **Multi-dimensional grouping**: Region × Product Category performance
2. **Count analysis**: Frequency distributions using `count()`
3. **Cross-tabulation**: Performance Category vs Revenue Size using `count()` with two columns

**Hint**: Use `count()` for frequency analysis and multiple variables in `group_by()` for cross-dimensional analysis. Add percentages with `mutate(Pct = round((n / sum(n)) * 100, 1))`.

In [9]:
# Multi-dimensional analysis: Region and Product Category
region_category_analysis <- company_sales_data %>%
  group_by(Region, Product_Category) %>%  # TODO: Group by Region and Product_Category
  summarize(
    # TODO: Calculate total_revenue, transaction_count, avg_profit_margin
    total_revenue     = sum(Revenue, na.rm = TRUE),
    transaction_count = n(),
    avg_profit_margin = mean(Profit_Margin, na.rm = TRUE),
    .groups = 'drop'
  ) %>%
  # TODO: Arrange by total_revenue descending
  arrange(desc(total_revenue))

print("Top 10 Region-Product Category Combinations:")
print(head(region_category_analysis, 10))

[1] "Top 10 Region-Product Category Combinations:"
# A tibble: 10 × 5
   Region     Product_Category total_revenue transaction_count avg_profit_margin
   <chr>      <chr>                    <dbl>             <int>             <dbl>
 1 Europe     Hardware               777044.                27              45.6
 2 Asia Paci… Consulting             759641.                27              47.5
 3 Latin Ame… Services               644772.                22              43.9
 4 Latin Ame… Software               559611.                24              44.2
 5 Europe     Software               542961.                23              49.6
 6 Europe     Services               513507.                18              42.8
 7 Latin Ame… Hardware               474257.                19              43.1
 8 North Ame… Services               471460.                17              39.5
 9 Asia Paci… Software               440797.                15              47.6
10 Latin Ame… Consulting             433397.                18              40.2

In [15]:
# Frequency analysis using count()
print("Frequency Analysis:") 

# TODO: Count by Performance_Category
performance_counts <- company_sales_data %>%
  count(Performance_Category)

print("Performance Category Distribution:")
print(performance_counts)

# TODO: Count by Revenue_Size
revenue_size_counts <- company_sales_data %>%
  count(Revenue_Size)

print("Revenue Size Distribution:")
print(revenue_size_counts)

# TODO: Count by Deal_Size
deal_size_counts <- company_sales_data %>%
  count(Deal_Size)

print("Deal Size Distribution:")
print(deal_size_counts)

[1] "Frequency Analysis:"
[1] "Performance Category Distribution:"
  Performance_Category   n
1                 High 113
2                  Low  66
3               Medium 121
[1] "Revenue Size Distribution:"
  Revenue_Size   n
1        Large 122
2       Medium 104
3        Small  74
[1] "Deal Size Distribution:"
  Deal_Size   n
1      Bulk 159
2     Small  51
3  Standard  90

In [16]:
# Cross-tabulation analysis using count() with two columns
print("Cross-Tabulation Analysis:")

# TODO: Create a cross-tabulation of Performance_Category vs Revenue_Size
# Hint: Use count() with two columns
cross_tab_performance_revenue <- company_sales_data %>%
  count(Performance_Category, Revenue_Size)  # TODO: Add Performance_Category, Revenue_Size inside count()

print("Performance Category vs Revenue Size:")
print(cross_tab_performance_revenue)

[1] "Cross-Tabulation Analysis:"
[1] "Performance Category vs Revenue Size:"
  Performance_Category Revenue_Size  n
1                 High        Large 41
2                 High       Medium 38
3                 High        Small 34
4                  Low        Large 28
5                  Low       Medium 30
6                  Low        Small  8
7               Medium        Large 53
8               Medium       Medium 36
9               Medium        Small 32

## Part 7: Business Intelligence Dashboard

**Task**: Create a comprehensive business intelligence summary that combines all your analysis techniques.

**Business Context**: Executive dashboards consolidate multiple analyses into actionable insights. This section simulates creating a report that would be presented to business stakeholders for strategic decision-making.

**Dashboard sections to create**:
1. **Key Performance Indicators (KPIs)**: Overall business health metrics
2. **Top Performers**: Best regions and product categories
3. **Performance Distribution**: Count of high/medium/low performers with percentages

**Hint**: Use `cat()` or `print()` statements to create formatted output that resembles a professional business report. Reference the dashboard example from Lesson 4.

In [28]:
# Create a comprehensive business intelligence dashboard
cat("\n", "=", rep("=", 60), "\n")
cat("              BUSINESS INTELLIGENCE DASHBOARD\n")
cat("=", rep("=", 60), "\n\n")

# Section 1: Key Performance Indicators
cat("📊 KEY PERFORMANCE INDICATORS\n")
cat("─────────────────────────────────\n")

# TODO: Calculate and display overall KPIs
# - Total Revenue, Total Profit, Overall Profit Margin
# - Total Transactions, Average Deal Size
# - High-Value Customer Rate, Profitable Deal Rate

kpi_summary <- company_sales_data %>%
  summarize(
    # TODO: Add your KPI calculations here
    total_revenue        = sum(Revenue, na.rm = TRUE),
    total_profit         = sum(Profit, na.rm = TRUE),
    overall_profit_margin = mean(Profit_Margin, na.rm = TRUE),
    total_transactions   = n(),
    avg_deal_size        = mean(Revenue, na.rm = TRUE),
    high_value_rate      = mean(Revenue > quantile(Revenue, 0.75), na.rm = TRUE) * 100,
    profitable_deal_rate = mean(Profit > 0, na.rm = TRUE) * 100
  )

# TODO: Display KPIs using cat() or print() with proper formatting
cat(sprintf("  Total Revenue:          $%s\n",   format(round(kpi_summary$total_revenue),  big.mark = ",")))
cat(sprintf("  Total Profit:           $%s\n",   format(round(kpi_summary$total_profit),   big.mark = ",")))
cat(sprintf("  Overall Profit Margin:   %.1f%%\n", kpi_summary$overall_profit_margin * 100))
cat(sprintf("  Total Transactions:      %s\n",   format(kpi_summary$total_transactions,    big.mark = ",")))
cat(sprintf("  Average Deal Size:      $%s\n",   format(round(kpi_summary$avg_deal_size),  big.mark = ",")))
cat(sprintf("  High-Value Deal Rate:    %.1f%%\n", kpi_summary$high_value_rate))
cat(sprintf("  Profitable Deal Rate:    %.1f%%\n", kpi_summary$profitable_deal_rate))

# Section 2: Top Performers
cat("\n🏆 TOP PERFORMERS\n")
cat("─────────────────\n")

# TODO: Display top performing region
cat("Top Region: ") 
# TODO: Get the region with highest total revenue 
top_region <- company_sales_data %>%
  group_by(Region) %>%
  summarize(total_revenue = sum(Revenue, na.rm = TRUE), .groups = "drop") %>%
  arrange(desc(total_revenue)) %>%
  slice(1)

cat(sprintf("  Top Region:            %s ($%s)\n",
  top_region$Region,
  format(round(top_region$total_revenue), big.mark = ",")))

# TODO: Display top performing product category  
cat("\nTop Product Category: ") 
# TODO: Get the product category with highest total revenue
top_category <- company_sales_data %>%
  group_by(Product_Category) %>%
  summarize(total_revenue = sum(Revenue, na.rm = TRUE), .groups = "drop") %>%
  arrange(desc(total_revenue)) %>%
  slice(1)

cat(sprintf("  Top Product Category:  %s ($%s)\n",
  top_category$Product_Category,
  format(round(top_category$total_revenue), big.mark = ",")))

# TODO: Display performance distribution
cat("\n📈 PERFORMANCE DISTRIBUTION\n")
cat("──────────────────────────\n")
# TODO: Show the count and percentage of High/Medium/Low performers
performance_dist <- company_sales_data %>%
  count(Performance_Category) %>%
  mutate(Pct = round((n / sum(n)) * 100, 1)) %>%
  arrange(desc(n))

cat(sprintf("  %-12s %10s %10s\n", "Category", "Count", "Share"))
cat("  ", paste(rep("─", 35), collapse = ""), "\n")
for (i in 1:nrow(performance_dist)) {
  cat(sprintf("  %-12s %10s %9.1f%%\n",
    performance_dist$Performance_Category[i],
    format(performance_dist$n[i], big.mark = ","),
    performance_dist$Pct[i]
  )) }

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
              BUSINESS INTELLIGENCE DASHBOARD
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

📊 KEY PERFORMANCE INDICATORS
─────────────────────────────────
  Total Revenue:          $7,771,711
  Total Profit:           $3,407,512
  Overall Profit Margin:   4422.3%
  Total Transactions:      300
  Average Deal Size:      $25,906
  High-Value Deal Rate:    25.0%
  Profitable Deal Rate:    100.0%

🏆 TOP PERFORMERS
─────────────────
Top Region:   Top Region:            Europe ($2,224,182)

Top Product Category:   Top Product Category:  Consulting ($1,978,840)

📈 PERFORMANCE DISTRIBUTION
──────────────────────────

  Category          Count      Share
   ───────────────────────────────────
  Medium              121      40.3%
  High                113      37.7%
  Low                  66      22.0%

## Part 8: Business Insights and Recommendations

**Task**: Synthesize your analysis into actionable business insights and strategic recommendations.

**Business Context**: The ultimate goal of data analysis is to drive business decisions. This section requires you to think like a business consultant, translating your technical findings into strategic recommendations that stakeholders can act upon.

**Required deliverables**:
1. **Key Findings**: Top 3-5 most important insights from your analysis
2. **Performance Gaps**: Areas where the business is underperforming
3. **Opportunities**: Segments or regions with growth potential  
4. **Strategic Recommendations**: Specific, actionable suggestions
5. **Risk Factors**: Data-driven identification of potential business risks

**Hint**: Frame your insights in business terms, focusing on revenue impact, efficiency improvements, and strategic opportunities rather than just statistical findings.

In [ ]:
# Generate business insights and recommendations
cat("💡 BUSINESS INSIGHTS & RECOMMENDATIONS\n")
cat("════════════════════════════════════════\n\n")

cat("🔍 KEY FINDINGS:\n")
cat("─────────────────\n")

# TODO: Identify and present your top 3-5 key findings
# For example:
# 1. Which region generates the most revenue?
# 2. What percentage of deals are highly profitable?
# 3. Which product category has the best margins?
# 4. How many transactions fall into each performance category? 

#1.Europe 
#2.25%
#3.Consulting 
#4.121,113,66

# Find top performing region (regional_performance is already sorted desc by revenue)
top_region_data <- regional_performance %>% head(1)
cat("1. Top Region: ", top_region_data$Region, " generates $", 
    format(top_region_data$total_revenue, big.mark = ","), 
    " (", round(top_region_data$revenue_share, 1), "% of total revenue)\n")

# TODO: Add 3-4 more key findings using your analysis results 
#Europe is 28.6% of the total revenue. 



cat("\n💰 PERFORMANCE ANALYSIS:\n")
cat("────────────────────────\n")

# TODO: Analyze the distribution of performance categories
# Hint: Use your performance_counts from Part 6 or recalculate with count()
# What percentage are high/medium/low performers? 

#high-37.7
#medium-40.3
#low-22.0

cat("\n🎯 STRATEGIC RECOMMENDATIONS:\n") 
cat("──────────────────────────────\n")

# TODO: Provide 4-5 specific, actionable recommendations based on your analysis
cat("1. Focus expansion efforts on top-performing regions and product categories\n")
cat("2. Investigate success factors from high-performing segments for replication\n")
# TODO: Add 3 more recommendations


cat("\n⚠️  RISK FACTORS & OPPORTUNITIES:\n")
cat("──────────────────────────────────\n")

# TODO: Identify potential risks and opportunities based on your data analysis

💡 BUSINESS INSIGHTS & RECOMMENDATIONS
════════════════════════════════════════

🔍 KEY FINDINGS:
─────────────────
1. Top Region:  Europe  generates $ 2,224,182  ( 28.6 % of total revenue)

💰 PERFORMANCE ANALYSIS:
────────────────────────

🎯 STRATEGIC RECOMMENDATIONS:
──────────────────────────────
1. Focus expansion efforts on top-performing regions and product categories
2. Investigate success factors from high-performing segments for replication

⚠️  RISK FACTORS & OPPORTUNITIES:
──────────────────────────────────

## Reflection Questions

**Task**: Answer the following questions to demonstrate your understanding of the business applications of data transformation.

**Business Context**: Reflection is a critical part of the learning process in data analytics. Understanding not just how to perform analyses, but when and why to use different techniques, distinguishes proficient analysts from experts.

**Questions to address**:

1. **Technical Mastery**: Which dplyr function (mutate, summarize, group_by, count) did you find most powerful for business analysis, and why?

2. **Business Impact**: What was the most surprising or valuable insight you discovered in your analysis?

3. **Strategic Thinking**: If you were presenting these findings to a company executive, which 3 insights would you prioritize and why?

4. **Methodology**: How did grouping and segmentation help reveal patterns that weren't visible in the raw data?

5. **Future Applications**: What additional business questions could you answer with this dataset using the techniques you've learned?

**Instructions**: Write thoughtful, paragraph-length responses that demonstrate both technical understanding and business acumen.

### Reflection Responses

**1. Most Powerful Function for Business Analysis:**

I would say the most powerful function is summarize, after group_by, group_by makes it easier to analyze a set of variables and summarize makes it easier to see eveything as a whole.

**2. Most Valuable Business Insight:**

I would say the exact amount of revenue percentage is very precise. It gives a lot of detail of everything that is happening.

**3. Top 3 Insights for Executive Presentation:**

If I were presenting to a company executive, I would focus on three main insights. First, I would show which segments bring in the most revenue or growth. This helps leaders decide where to invest more money and resources. Second, I would point out which segments are underperforming. This shows where the company may need to improve operations, reduce costs, or make changes. Third, I would highlight important trends, such as seasonal increases or decreases in sales. Trends help executives plan for the future and make smarter decisions. Each insight should connect to an action, like investing more, fixing a problem, or creating something new. 

**4. Value of Grouping and Segmentation:**

Grouping and segmentation help reveal patterns because they organize the data into clear categories. Raw data can look overwhelming and hard to understand. When we group data by year, region, product, or customer type, we can compare results more easily. This makes it easier to see which areas are growing, which are struggling, and where changes are happening.

**5. Future Business Applications:**

With this dataset, we could answer more business questions. For example, we could find out which customers are the most profitable, whether sales change during certain times of the year, or if the company depends too much on a small number of customers. We could also calculate growth rates or performance ratios to measure efficiency, not just total sales. These techniques help us move from simply describing what happened to predicting what might happen next.

## Submission Checklist

Before submitting your homework, ensure you have completed all sections:

### Technical Requirements
- [ ] **Part 1**: Successfully imported data and performed initial exploration
- [ ] **Part 2**: Created all required financial metrics using mutate()
- [ ] **Part 3**: Developed categorical variables using case_when() and if_else()
- [ ] **Part 4**: Generated comprehensive summary statistics with summarize()
- [ ] **Part 5**: Performed grouped analysis by multiple business dimensions
- [ ] **Part 6**: Conducted frequency analysis and cross-tabulations using count()
- [ ] **Part 7**: Created a professional business intelligence dashboard
- [ ] **Part 8**: Synthesized findings into business insights and recommendations

### Code Quality
- [ ] All code sections are completed with working R code
- [ ] Code is well-commented and follows best practices
- [ ] Variable names are meaningful and consistent
- [ ] Proper use of the pipe operator (%>%) for readable code chains
- [ ] Appropriate use of .groups = 'drop' after group_by operations

### Business Analysis
- [ ] Analysis demonstrates understanding of business context
- [ ] Insights are presented in business-friendly language
- [ ] Recommendations are specific and actionable
- [ ] Cross-dimensional analysis reveals meaningful patterns
- [ ] Dashboard provides comprehensive performance overview

### Reflection and Learning
- [ ] Reflection questions answered thoughtfully and completely
- [ ] Responses demonstrate both technical and business understanding
- [ ] Examples from your own analysis support your reflections

**Final Note**: This homework simulates real-world business analytics work. Focus not just on getting the right technical results, but on developing the analytical thinking skills that drive business value. In professional settings, your ability to translate data into actionable insights is what makes you valuable to an organization.

**Good luck, and remember**: Great analysts don't just manipulate data—they uncover the stories that data tells about business performance and opportunities!

---

## 🚀 Ready to Submit?

### Easy Submission Steps (No Command Line Required!):

1. **Save this notebook** (Ctrl+S or File → Save)

2. **Use VS Code Source Control**:
   - Click the **Source Control** icon in the left sidebar (tree branch symbol)
   - Click the **"+"** button next to your notebook file
   - Type a message: `Submit homework 4 - Data Transformation Part 2 - [Your Name]`
   - Click **"Commit"** 
   - Click **"Sync Changes"** or **"Push"**

3. **Verify on GitHub**: Go to your repository online and confirm your notebook appears with your completed work

**📖 Need help?** See [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for detailed instructions.